@import '../settings/colors';

.givethings__wrapper {
    margin-top: -103px;
}

.head__wrapper {
    height: 763px;
    //margin-top: 30px;
    margin-right: 70px;
    display: flex;
    color: $dark-grey;
}

.head__picture {
    width: 45%;
    height: 100%;
    background-image: url('../../assets/Header-Form-Background.png');
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
}

.head__content {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .head__titles {
        font-size: 38px;
        letter-spacing: -0.75px;
        text-align: center;
        padding: 0;

        .first {
            margin-bottom: 15px;
        }

        .second {
            text-transform: uppercase;
        }
    }

    .svg {
        width: 180px;
        height: 40px;
        background-image: url('../../assets/Decoration.svg');
        background-position: center;
        background-repeat: no-repeat;
        margin-top: 26px;
        // @include svg-rule;
        margin-bottom: 45px;
    }

    .third {
        font-size: 40px;
        font-weight: 300;
        margin-bottom: 60px;
    }

    .steps__wrapper {
        width: 650px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .steps {
            width: 130px;
            height: 130px;
            text-align: center;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            .step__number {
                font-size: 32px;
                font-weight: 300;
            }

            .step__text {
                font-size: 22px;
                font-weight: 300;
            }

            .border {
                position: absolute;
                top: 0;
                left: 0;
                width: 135px;
                height: 135px;
                border: 1px solid $dark-grey;
                //transform: translate(-100%, -100%);
                transform: rotate(45deg);
            }
        }

    }

}

.yellow__box {
    background: $yellow;

    .p1 {
        font-size: 36px;
        font-weight: 500;
        margin-left: 145px;
        padding-top: 50px;
    }

    .p2 {
        font-size: 22px;
        font-weight: 300;
        margin-left: 145px;
        margin-top: 10px;
        padding-bottom: 50px;
    }
}

.giveform__container {
    height: 780px;
    background-image: url('../../assets/Background-Form.jpg');
    background-position-x: -300px;
    background-repeat: no-repeat;

    h3 {
        margin-left: 100px;
        font-size: 24px;
        font-weight: 300;
        position: relative;
        top: 40px;
    }
}

.select__box {
    margin-bottom: 30px;
}

.whom__paragraph {
    margin-bottom: 30px;
    font-size: 24px;
}

.span__div {
    margin-bottom: 50px;
}

.span__div2 {
    margin-bottom: 30px;
}

.optional__span {
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
}

#dzieci {
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
}

#samotneMatki {
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
}

#bezdomni {
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
}

#niepelnosprawni {
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
}

#starsi {
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
}

.which__org__paragraph {
    margin-bottom: 20px;
    font-size: 24px;
}

.org__input__box {
    margin-bottom: 20px;
}

.org__input {
    background: none;
    border: 1px solid black;
    height: 30px;
    width: 300px;
}

.clicked__box {
    background: $yellow;
}

.give__form {
    height: 560px;
    margin-top: 140px;
    margin-bottom: 50px;
    margin-left: 100px;
    position: relative;

    .form__steps {
        font-size: 36px;
        margin-bottom: 40px;
    }

    .check__box {
        position: relative;
        margin-top: 30px;
        margin-bottom: 30px;
        
        .check__input {
            position: absolute;
            width: 40px;
            height: 40px;
            // z-index: 2;
            // opacity: 0;
            cursor: pointer;
        }

    //     .checkbox__custom{
    //         position: absolute;
    //         left: 0px;
    //         width: 40px;
    //         height: 40px;
    //         border: 1px solid black;
    //     }

        label {
            font-size: 24px;
            font-weight: 300;
            margin-left: 60px;
            position: relative;
            top: 5px;
        }

    }

    .label2 {
        font-size: 24px;
        font-weight: 300;
        margin-right: 30px;
    }

    .form__input {
        height: 60px;
        width: 160px;
        font-size: 24px;
        font-weight: 300;
        background: none;
        cursor: pointer;
    }

    .left__input {
        position: absolute;
        bottom: 0;
    }

    .right__input {
        position: absolute;
        bottom: 0;
        left: 200px;
    }
}

.step4__form {
    display: flex;

    .step4__text {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .form4__left {
        margin-right: 40px;
    }

    .input4__box {
        margin: 20px 0;
        width: 365px;
        display: flex;
        justify-content: space-between;

        .label4 {
            font-size: 22px;
            font-weight: 300;
            position: relative;
            top: 3px;
        }

        input {
            background: none;
            border: 1px solid black;
            height: 26px;
        }

        textarea {
            width: 173px !important;
            height: 100px;
            border: 1px solid black;
        }
    }
}