@import '../../node_modules/reset-css/sass/reset';
@import './settings/colors';
@import './settings/font';
@import './components/navbar';
@import './components/homeheader';
@import './components/homeabout';
@import './components/homethreecolumns';
@import './components//homefoursteps';
@import './components/homecontact.scss';
@import './components/homehelp.scss';
@import './components/logout';
@import './components/register';
@import './components/login';
@import './components/givethings';

body {
    font-family: $font-base;
}

.App {
    width: 100%;
    position: relative;
}